/* your custom css */

/* === SCROLLBAR === */
::-webkit-scrollbar {
    width: 4px;
}

::-webkit-scrollbar-thumb {
    width: 4px;
    background-color: rgb(211, 211, 211) !important;
    border-radius: 10px;
}

/* === GENERAL STYLING === */

a:hover {
    color: #9a272a;
}

.lightBackground {
    background: #fff;
}

.darkBackground {
    background: #f0f3f8;
    color: #24292e;
}

.darkBackground .wrapper h1,
.darkBackground .wrapper h2 {
    color: #24292e !important;
}

.darkBackground a {
    color: #fff;
}

body {
    font-family: proxima-nova, sans-serif;
    background: #f0f3f8;
}

.mainContainer .wrapper {
    max-width: 1400px;
}

.imageAlignSide .blockImage {
    max-width: 256px;
}

/* === GRID === */

.gridBlock .threeByGridBlock img {
    height: 128px;
}

.imageAlignTop .blockImage {
    max-width: 128px;
}

.gridBlock .twoByGridBlock img {
    height: 300px;
}

/* === HEADER === */

.fixedHeaderContainer {
    background-color: #c9292c;
    width: 100% !important;
    padding: 0;
}

.fixedHeaderContainer .wrapper {
    height: 4rem;
    padding: 0;
}

.fixedHeaderContainer a {
    height: 100%;
}

.fixedHeaderContainer header {
    align-items: center;
    height: 100%;
}

.fixedHeaderContainer header a:hover {
    color: #f5f5f5a3;
}

.fixedHeaderContainer .navigationWrapper {
    height: 100%;
    display: flex;
    align-items: center;
    background-color: #c9292c;
}

.fixedHeaderContainer .navigationWrapper li>a {
    color: hsla(0, 0%, 100%, .8) !important;
    height: 100% !important;
}

.fixedHeaderContainer .navigationWrapper li>a:hover,
.fixedHeaderContainer .navigationWrapper li.siteNavItemActive>a,
.fixedHeaderContainer .navigationWrapper li.siteNavGroupActive>a {
    color: #fff !important;
}

.reactNavSearchWrapper input#search_input_react {
    color: #fdd5d5;
}

.navPusher {
    padding-top: 4rem;
}

.fixedHeaderContainer .wrapper,
.blog .wrapper {
    max-width: 1400px;
}

/* === FOOTER === */

.nav-footer {
    background: transparent;
    color: #8690bd;
}

.nav-footer .sitemap {
    max-width: 1400px;
}

.nav-footer .sitemap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.nav-footer .sitemap div {
    display: flex;
    flex-direction: column;
    min-width: 7rem;
    padding-top: 1rem;
}

.nav-footer .sitemap h5 {
    color: #272f3d;
    font-size: 1rem;
    font-weight: 600;
}

.nav-footer .sitemap a {
    color: #818a9b;
}

.nav-footer .sitemap a:hover {
    color: #272f3d;
}

.nav-footer .copyright {
    color: #a4abb7;
    border-top: 1px solid #c7d0dd;
    max-width: 1400px;
    margin: 0 auto;
    text-align: left !important;
    padding: 1rem;
}

.nav-footer .footer-social-wrapper {
    min-width: unset !important;
    flex: 3 !important;
}

.nav-footer .footer-social {
    display: flex !important;
    flex-direction: row !important;
    padding-top: 0 !important;
    min-width: unset !important;
}

.nav-footer .footer-social div {
    padding-top: 0;
}

/* === GENERAL === */

.logos a img {
    opacity: 0.7;
}

.logos a img:hover {
    opacity: 1;
}

.button {
    background-color: #eb5546;
    border-color: transparent;
    border-radius: .25rem;
    color: #fdf0ef !important;
    cursor: pointer;
    font-weight: 600;
    padding-bottom: .5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: .5rem;
    text-transform: initial;
}

.projectTitle {
    color: #272f3d;
}

.homeContainer {
    margin-top: 48px;
}

.userContainer,
.pageContainer {
    padding-bottom: 0 !important;
}

.blockContent p {
    text-align: justify;
}

.blockContent .button {
    float: left;
}

.container .wrapper .imageAlignSide p {
    margin-bottom: 16px;
}

.ct {
    color: transparent !important;
}

.docsNavContainer .toc .navBreadcrumb {
    background-color: white;
}

table {
    background: #fff;
    display: inline-block;
    margin-bottom: 0;
    width: auto;
}

code {
    background: #fff;
    padding: 4px 8px;
}

.blockContent .buttonWrapper {
    display: block;
}

/* === MOBILE NAVIGATION BAR === */

.docsSliderActive .toc .navBreadcrumb {
    border-bottom: 1px solid #eee;
}

.docsSliderActive .navBreadcrumb.wrapper {
    border-radius: 0 !important;
}

.navGroupCategoryTitle {
    color: #272f3d !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}

.projectTitle>small {
    font-weight: 400 !important;
    font-size: 1rem !important;
    line-height: 1.5em !important;
}

/* === RESPONSIVENESS === */

@media only screen and (max-width: 1024px) {
    .navigationSlider .slidingNav ul {
        margin-top: 4rem;
    }

    .navSearchWrapper {
        top: 7px;
    }

    .fixedHeaderContainer .slidingNav {
        padding-right: 0;
    }

    .blog .fixedHeaderContainer .slidingNav ul li:last-child>a {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
    }

    .onPageNav .toc-headings li,
    .toc .toggleNav ul li a {
        padding: 10px 0;
    }

    .navListItem {
        border-top: 1px solid #eee;
    }

    .onPageNav .toc-headings li {
        border-top: 1px solid #eee;
    }

    .docMainWrapper .wrapper {
        padding-top: 30px;
    }
}

@media only screen and (max-width: 320px) {
    .navigationSlider .slidingNav ul {
        width: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    .headerWrapper>header>a {
        width: 35% !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 736px) {}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .headerWrapper>header>a {
        width: 25% !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1024px) {
    .headerWrapper>header>a {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 735px) {
    .navPusher {
        padding-top: 7rem;
    }

    .slidingNav .nav-site.nav-site-internal {
        font-weight: bold;
        background-color: #A5322E;
    }

    .navigationSlider .slidingNav ul li {
        flex: 1;
    }

    .navigationSlider .slidingNav ul li a {
        padding: 0px;
    }

    .navigationSlider .slidingNav ul li:first-child {
        border-right: 2px solid white;
    }
}

@media only screen and (min-width: 736px) {
    .nav-footer .sitemap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .fixedHeaderContainer .slidingNav {
        height: 100% !important;
    }

    .fixedHeaderContainer .slidingNav ul {
        height: 100% !important;
    }

    .navigationSlider .slidingNav ul li:first-child a {
        background-color: #fff;
        color: #c9292c !important;
        font-weight: bold;
    }

    .navigationSlider .slidingNav ul li:first-child a:hover {
        background-color: #c9292c;
        color: #fff !important;
    }
}

@media only screen and (min-width: 736px) and (max-width: 1024px) {
    .nav-site.nav-site-internal {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 0 !important;
        float: right;
        padding: 0 0 !important;
    }

    .nav-site.nav-site-internal {
        width: 30% !important;
        margin-right: 220px;
    }
}

@media only screen and (min-width: 1024px) {
    .headerWrapper>header>a {
        width: 30% !important;
    }

    .navSearchWrapper {
        right: 10px;
    }

    .docMainWrapper .mainContainer,
    .toc,
    .toc-headings {
        padding-top: 30px !important;
    }

    .toc section .navGroups {
        padding-top: 0 !important;
    }

    .docsNavContainer {
        top: 90px;
    }
}

@media only screen and (min-width: 1268px) {
    .imageAlignSide .blockImage {
        max-width: 500px;
    }
}

.toc-headings {
    padding-top: 8px !important;
}

.onPageNav {
    padding-top: 22px !important;
}

.container .gridBlock .blockContent p {
    max-width: inherit !important;
}

input#search_input_react {
    border-radius: 0 !important;
}

a {
    transition: color 0.3s !important;
}

/* === BACK TO TOP BUTTON === */

#back-to-top {
    background: #c9292c;
    transition: 0.3s !important;
}

#back-to-top:hover {
    background: #c9292cc4;
}

/* === ALERTS === */

.alert {
    padding: 15px 30px 15px 15px;
    margin-bottom: 16px;
    color: #24292e;
}

.alert-success {
    background-color: #9AE6B4;
    border-left: 8px solid #68D391;
}

.alert-info {
    background-color: #90CDF4;
    border-left: 8px solid #63B3ED;
}

.alert-warning {
    background-color: #FBD38D;
    border-left: 8px solid #F6AD55;
}

.alert-error {
    background-color: #FEB2B2;
    border-left: 8px solid #F56565;
}

blockquote {
    background-color: #FBD38D;
    border-left: 8px solid #F6AD55;
    color: #24292e;
}

/* === COPY CODE === */

pre {
    position: relative;
}

pre .btnIcon {
    position: absolute;
    top: 4px;
    z-index: 2;
    cursor: pointer;
    border: 1px solid transparent;
    padding: 0;
    color: #fff;
    background-color: transparent;
    height: 30px;
    transition: all .25s ease-out;
}

pre .btnIcon:hover {
    text-decoration: none;
}

.btnIcon__body {
    align-items: center;
    display: flex;
}

.btnIcon svg {
    fill: currentColor;
    margin-right: .4em;
}

.btnIcon__label {
    font-size: 11px;
}

.btnClipboard {
    right: 10px;
}

/* === NAVIGATION BUTTON === */

.navigationSlider .slidingNav ul li {
    padding: 14px;
}

.navigationSlider .slidingNav ul li:nth-child(2) {
    padding-left: 0;
}
