@import url("./inter.css");

/* your custom css */

body {
    background: white !important;
    color: #252f3e !important;
    font-family: "Inter", sans-serif;

    --yellow-box-dark: #f5c578;
    --yellow-box-light: #ffeaa5;
    --yellow-box-text: #252f3e;

    --green-box-dark: #239b53;
    --green-box-light: #2aaa5d;
    --green-box-text: #ffffff;

    --blue-box-dark: #2e73d9;
    --blue-box-light: #377fea;
    --blue-box-text: #ffffff;

    --red-box-dark: #b72d3d;
    --red-box-light: #c53a4a;
    --red-box-text: #ffffff;
}

#tocToggler {
    /* Hides the TOC dots on mobile as we don't use it */
    /* display: none; */
}

.fixedHeaderContainer {
    background: #fff;
    color: #57677e;
    padding: 24px 0;
}

.headerWrapper header a img {
    object-fit: contain;
}

.singleRowMobileNav.navPusher {
    min-height: calc(100vh - 84px);
    padding-top: 84px;
}

.navPusher {
    min-height: calc(100vh - 84px);
    padding-top: 84px;
}

.onPageNav {
    max-height: calc(100vh - 124px);
    top: 124px;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
    font-weight: 700;
    color: #252f3e;
}

.toc .toggleNav .navGroup .navGroupSubcategoryTitle {
    font-weight: 700;
    color: #252f3e;
}

.toc .toggleNav ul {
    padding: 0;
}

.toc section .navGroups {
    padding-top: 0;
}

.docsNavContainer .toc .navBreadcrumb {
    background: #f1f3f7;
}

.nav-footer {
    background: #f1f3f7;
    color: #57677e;
}

.nav-footer a {
    color: #797e86;
}

.nav-footer a:first-child {
    margin-right: 12px;
}

.nav-footer .wrapper {
    display: flex;
    justify-content: space-between;
}

.navigationSlider .slidingNav ul {
    background: #fff;
}

.navigationSlider .slidingNav ul li a {
    color: #57677e !important;
    font-weight: 300;
    padding: 8px 10px 0 10px;
}

.navigationSlider .slidingNav ul li>a:focus,
.navigationSlider .slidingNav ul li>a:hover,
.navigationSlider .slidingNav ul li.siteNavItemActive>a,
.navigationSlider .slidingNav ul li.siteNavGroupActive>a {
    background-color: transparent;
    color: #ffffff;
}

.onPageNav a {
    color: #797e86;
}

.onPageNav .toc-headings>li>a.active {
    color: #ba2224;
    font-weight: 400;
}

.onPageNav ul li {
    font-size: 14px;
}

/* 797e86 */
.toc .toggleNav ul li a {
    color: #797e86;
}

.toc .toggleNav ul li.navListItemActive a {
    color: #ba2224;
}

.fixedHeaderContainer {
    border-bottom: 1px solid #eceff4;
}

.fixedHeaderContainer .navigationWrapper {
    display: flex;
    align-items: center;
}

.navigationSlider .slidingNav ul {
    margin-bottom: 0;
}

@media only screen and (max-width: 1023px) {
    .navigationSlider .slidingNav ul {
        margin-top: 4rem;
    }

    .navSearchWrapper {
        top: 28px;
    }

    .fixedHeaderContainer .slidingNav {
        padding-right: 0;
    }

    .blog .fixedHeaderContainer .slidingNav ul li:last-child>a {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 0;
    }

    .onPageNav .toc-headings li,
    .toc .toggleNav ul li a {
        padding: 10px 0;
    }

    .tocActive .singleRowMobileNav .onPageNav {
        top: 115px;
    }

    .navListItem {
        border-top: 1px solid #eee;
    }

    .onPageNav .toc-headings li {
        border-top: 1px solid #eee;
    }

    .docMainWrapper .wrapper {
        padding-top: 30px;
    }
}

@media only screen and (min-width: 1400px) {}

@media only screen and (min-width: 1500px) {}

@media only screen and (max-width: 320px) {
    .navigationSlider .slidingNav ul {
        width: auto;
    }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {
    .headerWrapper>header>a {
        width: 35% !important;
    }
}

@media only screen and (min-width: 360px) and (max-width: 736px) {}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    .headerWrapper>header>a {
        width: 25% !important;
    }
}

@media only screen and (min-width: 481px) and (max-width: 1023px) {
    .headerWrapper>header>a {
        white-space: nowrap;
    }
}

@media only screen and (max-width: 735px) {
    .fixedHeaderContainer .navigationWrapper li>a {
        color: hsla(0, 0%, 100%, .8) !important;
        padding-left: 10px !important;
        padding-right: 10px !important;
    }

    .singleRowMobileNav.navPusher {
        padding-top: 5rem;
    }

    .navPusher {
        padding-top: 8rem;
    }

    .slidingNav .nav-site.nav-site-internal {
        font-weight: bold;
        /* background-color: #a5322e; */
        margin-top: 5rem;
        /* display: none; */
        /*only for whitepaper */
    }

    .navigationSlider .slidingNav ul li {
        flex: 1;
    }

    .navigationSlider .slidingNav ul li a {
        padding: 0px;
    }

    .navigationSlider .slidingNav ul li {
        border-right: 2px solid white;
    }

    .navigationSlider .slidingNav ul li:last-child {
        border-right: none;
    }

    .nav-footer .wrapper {
        flex-direction: column;
        align-items: center;
    }

    .docs-prevnext .docs-next {
        clear: none;
        float: right;
    }
}

@media only screen and (min-width: 736px) {
    .nav-footer .sitemap {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .fixedHeaderContainer .slidingNav {
        height: 100% !important;
    }

    .fixedHeaderContainer .slidingNav ul {
        height: 100% !important;
        background: transparent !important;
    }

    .navigationSlider .slidingNav ul li.siteNavGroupActive>a {
        background-color: transparent;
        color: #797e86;
    }

    .navigationSlider .slidingNav ul li>a:focus,
    .navigationSlider .slidingNav ul li>a:hover,
    .navigationSlider .slidingNav ul li.siteNavItemActive>a {
        background-color: transparent;
        color: #ba2224;
    }
}

@media only screen and (min-width: 736px) and (max-width: 1023px) {
    .singleRowMobileNav.navPusher {
        padding-top: 5rem;
    }

    .nav-site.nav-site-internal {
        border-bottom-right-radius: 0;
        height: 100%;
        display: flex;
        align-items: center;
        margin-top: 0 !important;
        float: right;
        padding: 0 0 !important;
        /* display: block; */
        /*only for whitepaper */
    }

    .nav-site.nav-site-internal {
        width: 30% !important;
        margin-right: 220px;
        /* Might need this for search */
    }

    .navSearchWrapper {
        top: 30px;
    }

    .reactNavSearchWrapper input#search_input_react {
        font-size: 14.4px !important;
    }
}

@media only screen and (min-width: 1023px) {
    .headerWrapper>header>a {
        width: 30% !important;
    }

    .navSearchWrapper {
        top: 4px;
        right: 10px;
    }

    .docMainWrapper .mainContainer,
    .toc,
    .toc-headings {
        padding-top: 30px !important;
    }

    .toc section .navGroups {
        padding-top: 0 !important;
    }

    .docsNavContainer {
        top: 90px;
    }
}

@media only screen and (min-width: 1268px) {
    .imageAlignSide .blockImage {
        max-width: 500px;
    }
}

/* === ALERTS === */

.alert {
    padding: 15px 30px 15px 15px;
    margin-bottom: 16px;
    color: #24292e;
}

.alert-success {
    border-left: 8px solid var(--green-box-dark);
    background-color: var(--green-box-light);
    color: var(--green-box-text);
}

.alert-info {
    border-left: 8px solid var(--blue-box-dark);
    background-color: var(--blue-box-light);
    color: var(--blue-box-text);
}

.alert-warning {
    border-left: 8px solid var(--yellow-box-dark);
    background-color: var(--yellow-box-light);
    color: var(--yellow-box-text);
}

.alert-error {
    border-left: 8px solid var(--red-box-dark);
    background-color: var(--red-box-light);
    color: var(--red-box-text);
}

blockquote {
    border-left: 8px solid var(--yellow-box-dark);
    background-color: var(--yellow-box-light);
    color: var(--yellow-box-text);
}

/* === COPY CODE === */

pre {
    position: relative;
}

pre .btnIcon {
    background-color: transparent;
    border: 1px solid transparent;
    color: #444;
    cursor: pointer;
    height: 30px;
    padding: 0;
    position: absolute;
    top: 4px;
    transition: all 0.25s ease-out;
    z-index: 2;
}

pre .btnIcon:hover {
    text-decoration: none;
}

.btnIcon__body {
    align-items: center;
    display: flex;
}

.btnIcon svg {
    fill: currentColor;
    margin-right: 0.4em;
}

.btnIcon__label {
    font-size: 11px;
}

.btnClipboard {
    right: 10px;
}

#back-to-top {
    background: #252f3e;
}

/* Search */
.reactNavSearchWrapper input#search_input_react {
    background-color: var(--red-box-text);
    border-radius: none;
    color: #57677e;
    font-size: 16px;
    padding: 6px 10px 6px 10px;
}

.reactNavSearchWrapper input#search_input_react::placeholder {
    color: #57677e;
}

.reactNavSearchWrapper input:focus#search_input_react::placeholder {
    color: hsla(0, 0%, 100%, .8) !important;
}

.reactNavSearchWrapper input#search_input_react:focus,
.reactNavSearchWrapper input#search_input_react:active {
    background-color: #c9292c;
    color: #fff;
}

.navSearchWrapper:before {
    display: none;
}

.navSearchWrapper:after {
    display: none;
}

.headerTitleWithLogo {
    display: none;
}

/* back to top button */
#back-to-top {
    background: #c9292c;
    transition: 0.3s !important;
}

#back-to-top:hover {
    background: #c9292c;
}

/* footer */
.nav-footer {
    color: #8690bd;
}
